
langchain
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
langchain-text-splitters
langchain_core
langchain-classic
PyPDF2
faiss-cpu
pandas
numpy
python-dotenv
matplotlib

flask
flask-cors
